.parent {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  position: relative;
}

.child {
  width: 150px;
  height: 150px;
  background-color: brown;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -75px;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; */

  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* top: calc(50% - 50px);
  left: calc(50% - 50px); */
  /* margin-left: -50px;
  margin-top: -50px; */
}
